NODE_ENV=production

DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_DEV_GUILD_ID=

DATABASE_URL="postgresql://postgres:supersecret@postgres:5432/community-service?schema=public"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=community-service

HOST=