name: Lint
on:
    push:
    workflow_dispatch:

jobs:
    lint:
        if: "!contains(github.event.head_commit.message, 'skip ci')"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              #with:
              #    token: ${{ secrets.PAT }}
            - name: Setup Node
              uses: actions/setup-node@v2.5.1
              with:
                  node-version: '16.x'
                  
            - run: npm install
            
            - name: Run Prettier and ESLint
              run: npm run lint

            - name: Commit files
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: 'style: lint [skip ci]'
                  commit_user_name: 'github-actions[bot]'
                  commit_user_email: '41898282+github-actions[bot]@users.noreply.github.com'
